h1 {
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
    letter-spacing: 5px;
    color: #28536B; 
}    

h2 {
    border-bottom: 2px solid #C2948A;
    color: #28536B;
}

h3 {
    color: #385a6d;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: #F44336;
    display: block;
    padding: 15px 25px;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #9e2b23;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin: 10px auto 0;
    letter-spacing: 2px;
}   
    

h1::after {
    content: "";
    display: block;
    border-bottom: solid 5px #C2948A;
    position: absolute;
    width: 500px;
    right: 0;
    left: 0;
    margin: auto;
    bottom: -5px;
}

/*
html {
    background-color: #C2948A;
}
*/

body {
    background-color: #fff;
    padding: 30px 30px 30px;
    max-width: 700px;
    margin: 20px auto;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
    position: relative;
}

#modify {
    font-size: 13px;
}

.p1 {
    font-size: 1px;
    margin-left: 3rem;
    text-indent: -3rem;
}

.p2 {
    font-size: 1px;
    text-align: center;
}

.caption1 {
    background-color: #8abec23a;
}


blockquote {
    position: relative;
    padding: 20px 15px 10px 15px;
    box-sizing: border-box;
    font-style: italic;
    background: #f5f5f5;
    color: #777777;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
}

blockquote p {
    padding: 0;
}

blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
}